[preset.1]

name="iOS"
platform="iOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/ios/catshooter.ipa"
patches=PackedStringArray()
script_export_mode=2

[preset.1.options]

architectures/arm64=true

# IMPORTANT: stop Godot from trying to fully sign the project
application/export_project_only=false

# Let Xcode handle signing (not Godot)
application/export_method_debug=1
application/export_method_release=1

application/code_sign_identity_debug=""
application/code_sign_identity_release=""

application/provisioning_profile_specifier_debug=""
application/provisioning_profile_specifier_release=""

application/app_store_team_id=""

application/bundle_identifier="com.badiboop4.catshooter"

application/min_ios_version="12.0"

shader_baker/enabled=false

# keep minimal plist additions
application/additional_plist_content=""
