[preset.0]
name="Cat Shooter"
platform="Windows Desktop"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="./Shoot the Cats.exe"
patches=PackedStringArray()
patch_delta_encoding=false
patch_delta_compression_level_zstd=19
patch_delta_min_reduction=0.1
patch_delta_include_filters="*"
patch_delta_exclude_filters=""
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=0
binary_format/embed_pck=false
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false
shader_baker/enabled=true
binary_format/architecture="x86_64"
codesign/enable=false

application/icon="uid://bkpga3w3kcoq4"
application/console_wrapper_icon="uid://bkpga3w3kcoq4"
application/company_name="Nut Enthusiast"
application/product_name="Cat Shooter"
application/file_description="Just play the damn game already"
application/copyright="Nut Technologies Inc."

ssh_remote_deploy/enabled=false


# -------------------------
# iOS PRESET (FIXED)
# -------------------------

[preset.1]
name="iOS"
platform="iOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/ios/catshooter.ipa"
patches=PackedStringArray()
script_export_mode=2

[preset.1.options]

architectures/arm64=true

# IMPORTANT: prevent signing conflicts
application/export_project_only=true

application/export_method_debug=0
application/export_method_release=0

application/code_sign_identity_debug=""
application/code_sign_identity_release=""

application/provisioning_profile_specifier_debug=""
application/provisioning_profile_specifier_release=""

application/app_store_team_id=""

application/bundle_identifier="com.badiboop4.catshooter"

application/min_ios_version="12.0"

shader_baker/enabled=false
application/delete_old_export_files_unconditionally=false
